*,
*:before,
*:after {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 height: 100vh;
 background:#6583e5 ;
}
.heading{
 font-size: 40px;
 font-weight: 700;
 letter-spacing: 4px;
 text-align: center;
 color:#ffffff;
 font-family: 'Poppins', sans-serif;
}
.container {
 width: 40%;
 top: 50%;
 left: 50%;
 background: white;
 border-radius: 10px;
 min-width: 450px;
 position: absolute;
 min-height: 100px;
 transform: translate(-50%, -50%);
}

#newtask {
 position: relative;
 padding: 30px 20px;
}

#newtask input {
 width: 75%;
 height: 45px;
 padding: 12px;
 color: #111111;
 font-weight: 500;
 position: relative;
 border-radius: 5px;
 font-family: 'Poppins', sans-serif;
 font-size: 15px;
 border: 2px solid #d1d3d4;
}

#newtask input:focus {
 outline: none;
 border-color: #6583e5;
}

#newtask button {
 position: relative;
 float: right;
 font-weight: 500;
 font-size: 16px;
 background-color: #6583e5;
 border: none;
 color: #ffffff;
 cursor: pointer;
 outline: none;
 width: 20%;
 height: 45px;
 border-radius: 5px;
 font-family: 'Poppins', sans-serif;
}

#todo-lists {
 border-radius: 10px;
 width: 100%;
 position: relative;
 background-color: #ffffff;
 padding: 30px 20px;
 margin-top: 10px;
}
.todo-item {
 display: flex;
 align-items: center;
 justify-content: space-between;
 cursor: pointer;
 margin-bottom: 10px;
 height: 50px;
 border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 border-radius: 5px;
 padding: 5px 25px;
}

.todo-item input {
 background: transparent;
 color: #6583e5;
 font-family: 'Poppins', sans-serif;
 font-size: 20px;
 font-weight: 400;
 border:white;
 outline: none;
 margin-right: 10px;
}

.todo-item i {
 color: #6583e5;
 background: transparent;
 border: 1px solid;
 border-radius: 50%;
 padding: 6px;
 cursor: pointer;
 transition: 0.2s ease-in-out;
 margin-left: 5px;
}

.todo-item button:hover {
 color: white;
}

.done {
 text-decoration: line-through;
}

.fa-x {
 padding: 6px 8px !important;
}
