BODY { 
background:blanchedalmond;
}
.heading
{
  color:rgb(0, 110, 255);
text-transform: uppercase;
backface-visibility: hidden;
margin-bottom:60px;
text-align: center;
}
.btn:link,
.btn:visited{
  
    text-transform: uppercase;
    text-decoration: none;
    padding:70px;
    display:inline-block;
     border-radius:100px;
     transition: all .2s;
     position:relative;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}
.btn:active{
    transform: translateY(1px);
    box-shadow:0 5px 10px rgba(0,0,0,.2);
}
.btn{
    background-color: #fff;
    color:rgba(0,0,0);
    margin-top:30px;
}
.size_grid
{
  margin:30px;
}

.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
  display: table-cell;
  width: 120px;
  height: 120px;
  border: 1px solid white;
  background: url("images/flower.jpg"); 
  cursor: pointer;
}

.tile1 {background-position: left top;}
.tile2 {background-position: center top;}
.tile3 {background-position: right top;}
.tile4 {background-position: left center;}
.tile5 {background-position: center center;}
.tile6 {background-position: right center;}
.tile7 {background-position: left bottom;}
.tile8 {background-position: center bottom;}
.tile9 {background: white; cursor: default;}